.Result {
  background-color: #AFEEEE;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  min-width: 0;

}
.Result::-webkit-scrollbar {
  width: 10px;
}

.Result::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 100px;
}

.Result::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #FFFAF0;
}


* {
  box-sizing: border-box;
}